.repo-d {
  overflow: auto;
  height: 100%;
}
.repo-d-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e1e4e8;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
  background: #fff;
}
.repo-d-title {
  font-size: 20px;
  font-weight: 600;
  color: #0366d6;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.repo-d-content {
  padding: 1rem;
  margin-top: 3rem;
}
.repo-d-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: column;
}
.repo-d-content-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #eeeeee;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 1rem;
}
.repo-d-content-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.1s;
  cursor: pointer;
}
.repo-d-content-item:hover {
  background: #e1e4e8;
  transition: all 0.15s ease-in-out;
  color: #0366d6;
}
.repo-d-tip {
  font-size: 15px;
  display: flex;
  gap: 0.3125rem;
  align-items: center;
}
.item-dir {
  font-weight: 600;
}
.item-file {
  display: flex;
  justify-content: space-between;
}
.repo-d-content-tip {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #dedede;
}
