.repo-d {
  overflow: auto;
  height: 100%;
}
.repo-d-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e1e4e8;
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04); */
  background: #fff;
}
.repo-d-title {
  font-size: 20px;
  font-weight: 600;
  color: #0366d6;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.repo-d-content {
  padding: 1rem;
  margin-top: 3rem;
}
.repo-d-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: column;
}
.repo-d-content-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #eeeeee;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 1rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.repo-d-content-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.1s;
  cursor: pointer;
}
.repo-d-content-item:hover {
  background: #e1e4e8;
  transition: all 0.1s;
  color: #0366d6;
}
.repo-d-tip {
  font-size: 18px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #586069;
}
.item-dir {
  font-weight: 600;
}
.item-file {
  display: flex;
  justify-content: space-between;
}
.repo-d-content-tip {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  border-bottom: 1px solid #dedede;
}
.repo-d-content-info {
  padding: 1rem;
  background: #eeeeee;
  width: 100%;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.repo-d-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
.repo-d-content-lang {
  width: 100%;
  height: 8px;
  background: transparent;
  border-radius: 5px;
  position: relative;
  display: flex;
  gap: 2px;
  /* overflow: hidden; */
}
.repo-d-content-lang-item {
  height: 8px;
  border-radius: 5px;
  outline: 2px solid #0000;
}
.repo-d-content-lang-names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 12px;
  margin: 2rem 1rem;
}
.repo-d-content-lang-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.lang-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}
.lang-name {
  font-size: 12px;
  color: #586069;
  font-weight: 600;
}
.lang-progress {
  color: #656d76;
}
.repo-d-content-counts {
  display: flex;
  gap: 1rem;
}
.repo-d-content-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: #eeeeee;
  width: 100%;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.count-unit {
  color: #586069;
  font-weight: 600;
}
.count-tip {
  display: flex;
  gap: 5px;
  align-items: center;
}
.content-des {
  font-size: 14px;
  color: #586069;
  margin-bottom: 1rem;
  margin-right: 1rem;
  line-height: 22px;
}
.repo-d-current-path {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 1rem;
  color: #0366d6;
  font-size: 18px;
}
