.repo-d {
  overflow: auto;
  height: 100%;
}
.repo-d-header {
  position: fixed;
  z-index: 99;
  width: -webkit-fill-available;
  display: flex;
  align-items: baseline;
  padding: 0.5rem 1rem;
  margin-right: 6px;
  border-bottom: 1px solid #e1e4e8;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
.repo-d-title {
  font-size: 20px;
  font-weight: 600;
  color: #0366d6;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.repo-d-content {
  padding: 2rem 2.5rem;
  margin-top: 1rem;
}
.repo-d-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: column;
}
.repo-d-content-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5px;
  margin-bottom: 5px;
}
.repo-d-content-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.repo-d-content-item:hover {
  background: #e1e4e8;
  color: #0366d6;
}
.repo-d-tip {
  font-size: 18px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: #586069;
}
.item-dir {
  font-weight: 600;
}
.item-file {
  display: flex;
  justify-content: space-between;
}
.repo-d-content-tip {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  border-bottom: 1px solid #dcdcdcc8;
}
.repo-d-content-info {
  padding: 1rem;
  width: 100%;
}
.repo-d-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
.repo-d-content-lang {
  width: 100%;
  height: 8px;
  background: transparent;
  border-radius: 5px;
  position: relative;
  display: flex;
  gap: 2px;
  /* overflow: hidden; */
}
.repo-d-content-lang-item {
  height: 8px;
  border-radius: 5px;
  outline: 2px solid #0000;
}
.repo-d-content-lang-names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 12px;
  margin: 2rem 1rem;
}
.repo-d-content-lang-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.lang-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}
.lang-name {
  font-size: 12px;
  color: #586069;
  font-weight: 600;
}
.lang-progress {
  color: #656d76;
}
.repo-d-content-counts {
  display: flex;
  gap: 1rem;
}
.repo-d-content-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: #eeeeee00;
  width: 100%;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.count-unit {
  color: #586069;
  font-weight: 600;
}
.count-tip {
  display: flex;
  gap: 5px;
  align-items: center;
}
.content-des {
  font-size: 14px;
  color: #586069;
  margin-bottom: 1rem;
  margin-right: 1rem;
  line-height: 22px;
}
.repo-d-current-path {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 1rem;
  color: #0366d6;
  font-size: 18px;
  border-bottom: 1px solid #0366d6;
}
.repo-d-content-file {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow: auto;
  gap: 5px;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all 0.1s;
  background-color: #f8f8f8;
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); */
  border: 1px solid #dedede;
  color: #586069;
  position: relative;
}
.repo-d-content-file-back {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #0366d6;
  font-size: 18px;
}
.repo-d-content-file-line {
  display: flex;
  align-items: baseline;
  gap: 5px;
  line-height: 1.5;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  white-space: pre-wrap;
}
.repo-d-content-file-line-content:hover {
  background-color: #e3e3e3;
}
.repo-d-content-file-line-number {
  color: #373737;
  min-width: 40px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  padding-right: 1rem;
  border-right: 1px solid #e1e1e1;
  user-select: none;
  -webkit-user-select: none;
}
.repo-d-content-file-line-content {
  flex: 1;
  padding-left: 16px;
}
.repo-d-content-file-line-content::selection {
  background-color: #05814fc0;
  color: #fff;
}
.repo-d-content-file-line-content span {
  display: inline-block;
  padding: 0 2px;
}
.repo-d-content-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: #ffffff;
  width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.repo-d-readme {
  font-size: 18px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  gap: .5rem;
  color: #586069;
  justify-content: center;
}
.repo-d-content-markdown{
  padding: 2rem;
}
